* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header  {
    background-color: black;
    padding: 0.625rem;
    color: #fff;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

header #navcabecalho #listadesordenadacabecalho {
    list-style: none;
}

header #navcabecalho #listadesordenadacabecalho  li {
    display: inline-block;
    margin-right: 1.25rem;
}

header #navcabecalho #listadesordenadacabecalho li a {
    color: white;
    text-decoration: none;
    letter-spacing: 0.125rem;
}

header #navcabecalho #listadesordenadacabecalho li a:hover {
    color: rgb(155, 153, 153);
}


main {
    padding: 1.25rem;
}


/*  ===================================================== */

footer {
    background-color: black;
    padding: 0.625rem;
    color: #fff;
    letter-spacing: 0.125rem;
}

#nomesdoscriadores {
    display: flex;
    justify-content: space-between;
}
